{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "plugins": ["import", "prettier", "react", "react-hooks"],

  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],

  "parserOptions": {
    "sourceType": "module"
  },

  "rules": {
    "react/prop-types": 0
  },

  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
